<!-- Menu Toggle Button -->
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <!-- The user image in the navbar-->
  {{if issignin}}
  <img src="static/images/user2-160x160.jpg" class="user-image" alt="User Image">
  <span class="hidden-xs" id="user-status">
      {{username}}
    {{/if}}
    {{if !issignin}}
  <img src="http://placehold.it/50x50" class="user-image" alt="User Image">
  <span class="hidden-xs" id="user-status">
      <span>注册</span> <span>登录</span>
    {{/if}}
  </span>
</a>
<ul class="dropdown-menu">
  <!-- The user image in the menu -->
  {{if issignin}}
  <li class="user-header">
    <img src="static/images/user2-160x160.jpg" class="img-circle" alt="User Image">

    <p>
      Alexander Pierce - Web Developer
      <small>Member since Nov. 2012</small>
    </p>
  </li>
  {{/if}}

  {{if !issignin}}
  <li class="user-header" id="user-unsignup">
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputEmail1">用户名</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">密码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
      </div>
    </div>
  </li>
  {{/if}}
  <!-- Menu Footer-->
  <li class="user-footer">
    <div class="pull-left">
      <a href="#" class="btn btn-default btn-flat">关闭</a>
    </div>
    <div class="pull-right">
      <a href="#" class="btn btn-primary btn-flat" id="user-submit"></a>
    </div>
  </li>
</ul>
